WebFromToTIE-flow
[
    {
        "id": "d1aa91a9.c688f",
        "type": "tab",
        "label": "TIE File Reputation",
        "disabled": false,
        "info": ""
    },
    {
        "id": "37d7c501.d76a72",
        "type": "http in",
        "z": "d1aa91a9.c688f",
        "name": "",
        "url": "/tie/setfile",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 160,
        "y": 60,
        "wires": [
            [
                "e0335e0d.d1b2f"
            ]
        ]
    },
    {
        "id": "e0335e0d.d1b2f",
        "type": "node-red-contrib-httpauth",
        "z": "d1aa91a9.c688f",
        "name": "TIE Authentication",
        "file": "",
        "cred": "",
        "authType": "Basic",
        "realm": "",
        "username": "settie",
        "password": "settie",
        "hashed": false,
        "x": 350,
        "y": 60,
        "wires": [
            [
                "28d94b71.1dc40c"
            ]
        ]
    },
    {
        "id": "28d94b71.1dc40c",
        "type": "template",
        "z": "d1aa91a9.c688f",
        "name": "Web Form",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "<html>  \n  <head>\n  </head>\n  <body>\n    <form action=\"/tie/setfilerep\" method=\"post\">\n      <h1>Set File Reputation</h1>\n      <label for=\"filename\">Filename:</label>\n      <input type=\"fileName\" name=\"fileName\" />\n      <br>\n      <label for=\"md5\">MD5 Hash:</label>\n      <input type=\"md5\" name=\"md5\" />\n      <br>\n      <label for=\"sha1\">SHA1 Hash:</label>\n      <input type=\"sha1\" name=\"sha1\" />\n      <br>\n      <label for=\"sha256\">SHA256 Hash:</label>\n      <input type=\"sha256\" name=\"sha256\" />\n      <br>\n      \n      File Reputation:\n      <select name=\"trustLevel\">\n        <option value=\"99\">Known_Trusted</option>\n        <option value=\"85\">Most_Likely_Trusted</option>\n        <option value=\"70\">Might_Be_Trusted</option>\n        <option value=\"50\">Unknown</option>\n        <option value=\"30\">Might_Be_Malicious</option>\n        <option value=\"15\">Most_Likely_Malicious</option>\n        <option value=\"1\" selected=\"selected\">Known_Malicious</option>\n        <option value=\"0\">Not_Set</option>\n      </select>\n      <br>\n       <input type=\"submit\" />\n    </form>\n  </body>\n</html>  ",
        "output": "str",
        "x": 570,
        "y": 60,
        "wires": [
            [
                "6f81b806.52a3f8"
            ]
        ]
    },
    {
        "id": "6f81b806.52a3f8",
        "type": "http response",
        "z": "d1aa91a9.c688f",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 780,
        "y": 60,
        "wires": []
    },
    {
        "id": "8f5691ab.bf22",
        "type": "http in",
        "z": "d1aa91a9.c688f",
        "name": "",
        "url": "/tie/setfilerep",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 150,
        "y": 140,
        "wires": [
            [
                "b3a4591e.5cbbd"
            ]
        ]
    },
    {
        "id": "1f6e4969.11bef7",
        "type": "template",
        "z": "d1aa91a9.c688f",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "<html>  \n  <head>\n  </head>\n  <body>\n    <h1>File Reputation Set!</h1>\n    <strong>Filename:</strong> {{ payload.fileName }}<br>\n    \n    <strong>MD5:</strong> {{ payload.md5 }}<br>\n    <strong>SHA1:</strong> {{ payload.sha1 }}<br>\n    <strong>SHA256:</strong> {{ payload.sha256 }}<br>\n    <strong>Reputation Score:</strong> {{ payload.trustLevel }}\n  </body>\n</html>  ",
        "output": "str",
        "x": 542.2222290039062,
        "y": 179.99993896484375,
        "wires": [
            [
                "7e7dff0d.b12e8"
            ]
        ]
    },
    {
        "id": "7e7dff0d.b12e8",
        "type": "http response",
        "z": "d1aa91a9.c688f",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 751.1111450195312,
        "y": 177.77777099609375,
        "wires": []
    },
    {
        "id": "b3a4591e.5cbbd",
        "type": "function",
        "z": "d1aa91a9.c688f",
        "name": "Validate MD5 Hash",
        "func": "var payload = msg.payload;\nif (payload.md5.match(/^[a-fA-F0-9]{32}$/g))\n{\n    msg.payload.isMD5 = true;\n}\nelse\n{\n    msg.payload.isMD5 = false;\n    msg.payload.md5 = \"\";\n}\n\nif (payload.sha1.match(/^[a-fA-F0-9]{40}$/g))\n{\n    msg.payload.isSHA1 = true;\n}\nelse\n{\n    msg.payload.isSHA1 = false;\n    msg.payload.sha1 = \"\";\n}\n\nif (payload.sha256.match(/^[a-fA-F0-9]{64}$/g))\n{\n    msg.payload.isSHA256 = true;\n}\nelse\n{\n    msg.payload.isSHA256 = false;\n    msg.payload.sha256 = \"\";\n}\nreturn msg;\n\n",
        "outputs": 1,
        "noerr": 0,
        "x": 290,
        "y": 240,
        "wires": [
            [
                "8ed73bfd.29c328",
                "1f6e4969.11bef7"
            ]
        ]
    },
    {
        "id": "af4af34a.e36f98",
        "type": "inject",
        "z": "d1aa91a9.c688f",
        "name": "",
        "topic": "",
        "payload": "{\"md5\":\"0d599f0ec05c3bda8c3b8a68c32a1b47\",\"sha1\":\"cf23df2207d99a74fbe169e3eba035e633b65d94\",\"sha256\":\"384d53391d5bbfc29016872dacded77ce1b3260fe901b3879e326a6a08306679\"}",
        "payloadType": "json",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 90,
        "y": 260,
        "wires": [
            [
                "b3a4591e.5cbbd"
            ]
        ]
    },
    {
        "id": "8ed73bfd.29c328",
        "type": "change",
        "z": "d1aa91a9.c688f",
        "name": "Set Hashes",
        "rules": [
            {
                "t": "set",
                "p": "hashes",
                "pt": "msg",
                "to": "{\t   \"md5\":msg.payload.md5,\t   \"sha1\":msg.payload.sha1,\t   \"sha256\":msg.payload.sha256\t}",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 154,
        "y": 342,
        "wires": [
            [
                "d75ab0af.77d308"
            ]
        ]
    },
    {
        "id": "537605c9.771d2c",
        "type": "debug",
        "z": "d1aa91a9.c688f",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "x": 478,
        "y": 355,
        "wires": []
    },
    {
        "id": "c2ea4d09.fcf178",
        "type": "change",
        "z": "d1aa91a9.c688f",
        "name": "Comment",
        "rules": [
            {
                "t": "set",
                "p": "comment",
                "pt": "msg",
                "to": "Reputation set via OpenDXL",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 160,
        "y": 491,
        "wires": [
            [
                "537605c9.771d2c",
                "a947e996.2275f8"
            ]
        ]
    },
    {
        "id": "eb419042.52d7e",
        "type": "change",
        "z": "d1aa91a9.c688f",
        "name": "TrustLevel",
        "rules": [
            {
                "t": "set",
                "p": "trustLevel",
                "pt": "msg",
                "to": "payload.trustLevel",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 157.5,
        "y": 444,
        "wires": [
            [
                "c2ea4d09.fcf178"
            ]
        ]
    },
    {
        "id": "d75ab0af.77d308",
        "type": "change",
        "z": "d1aa91a9.c688f",
        "name": "FileName",
        "rules": [
            {
                "t": "set",
                "p": "fileName",
                "pt": "msg",
                "to": "payload.fileName",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 158.5,
        "y": 394,
        "wires": [
            [
                "eb419042.52d7e"
            ]
        ]
    },
    {
        "id": "a947e996.2275f8",
        "type": "dxl-tie-set-file-reputation",
        "z": "d1aa91a9.c688f",
        "name": "",
        "client": "",
        "trustLevel": "",
        "comment": "",
        "x": 508.5,
        "y": 463,
        "wires": [
            []
        ]
    }
]
